---
---

@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic);


// colour variables for consistency
$bright-background: #ffcc33;
$orange-color: #f7931e;
$font-color: #000000;


// we want border-box sizing!
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


// base styles
html, body {
    font-family: Roboto, sans-serif;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

.block {
  display: block;
}

.results-display {
  font-size: 1rem;
  font-weight: normal;
  display: block;
}

#quiz-option-form {
  margin: 2rem 1rem;
}

#quiz-option-form input[type="radio"] {
    display: none;
}

#quiz-option-form label {
    display: block;
    background-color: $bright-background;
    padding: 0.7rem 1rem;
    color: $font-color;
}

#quiz-option-form input[type="radio"]:checked + label {
    background-color: $orange-color;
    box-shadow: inset 0px 0px 6px 0px $font-color;
}

a.hide-link,a.hide-link:hover,a.hide-link:visited {
  color: inherit;
}

#title {
  color: $font-color;
  font-weight: bold;
  font-size: 1.2rem;
}

// override some jquery mobile css
.ui-dialog {
  background-color: $bright-background !important;
}

#splash-image {
  display: block;
  margin: auto;
  padding: 2rem;
}

@media screen and (orientation: landscape) {

  #splash-image {
    width: auto;
    height: 100vh;
  }
}

@media screen and (orientation: portrait) {

  #splash-image {
    width: 100vw;
    height: auto;
  }
}

#banner-image {
  height: 3rem;
  display: block;
  margin: 0 auto;
  padding: 0.5rem;
}
