<section data-theme="b" data-role="dialog" id="results-dialog">
  <div data-role="content">
    <h2>Results</h2>

    <div id="quiz-results"></div>

		<a href="#quiz-page" data-role="button">Close</a>
  </div>
</section>

<section data-theme="b" data-role="dialog" id="about-dialog">
  <div data-role="content">
    <h1>The Quiz</h1>
    <p>
      A web app for Assignment 1, HIT238.
    </p>

    <p>
      Copyright &copy; 2016 <a href="https://swalladge.id.au">Samuel Walladge</a>
    </p>

    <p>
      Web app source available on <a href="https://github.com/swalladge/hit238-a1">Github</a>.
    </p>

    <a href="#" data-rel="back" data-role="button">Close</a>
  </div>
</section>

<section data-theme="b" data-role="dialog" id="register-dialog">
  <div data-role="content">
    <h1>Successfully Registered!</h1>
    <p>
      Please check your email for the activation link before logging in.
    </p>

    <a href="#login-page" data-role="button">Login</a>

    <a href="#register-page" data-role="button">Close</a>
  </div>
</section>

<section data-theme="b" data-role="dialog" id="ajax-fail-dialog">
  <div data-role="content">
    <h1 id="ajax-fail-title">Server Request Failed</h1>

    <div id="ajax-fail-feedback"></div>

    <p id="ajax-fail-internet"></p>

    <a href="#" data-rel="back" data-role="button">Close</a>
  </div>
</section>
