<section data-role="dialog" id="results-dialog">
  <div data-role="content">
    <div id="quiz-results"></div>
		<a href="#quiz-page" data-role="button">Close</a>
  </div>
</section>

<section data-role="dialog" id="about-dialog">
  <div data-role="content">
    <h1>The Quiz</h1>
    <p>
      An app by <a href="https://swalladge.id.au">Samuel Walladge</a>
    </p>
    <a href="#" data-rel="back" data-role="button">Close</a>
  </div>
</section>

<section data-role="dialog" id="register-dialog">
  <div data-role="content">
    <h1>Successfully Registered!</h1>
    <p>
      Please check your email for the activation link before logging in.
    </p>

    <a href="#login-page" data-role="button">Login</a>

    <a href="#register-page" data-role="button">Close</a>
  </div>
</section>

<section data-role="dialog" id="register-fail-dialog">
  <div data-role="content">
    <h1>Unable to Register</h1>

    <div id="register-feedback"></div>

    <a href="#register-page" data-role="button">Close</a>
  </div>
</section>

<section data-role="dialog" id="login-fail-dialog">
  <div data-role="content">
    <h1>Login Failed</h1>

    <div id="login-feedback"></div>

    <a href="#login-page" data-role="button">Close</a>
  </div>
</section>
