<section class="ui-alt-icon" data-role="page" id="home-page">

  {% include header.html %}

  <div data-role="content">

    <a data-transition="slide" class="ui-btn ui-icon-grid ui-btn-icon-left" data-role="button" href="#quizzes-page">Quizzes</a>

    <a data-transition="slide" data-direction="reverse" class="ui-btn ui-icon-user ui-btn-icon-left" data-role="button" href="#profile-page">My Profile</a>

    <a class="ui-btn ui-icon-info ui-btn-icon-left" data-role="button" href="#about-dialog">About</a>

    <a class="ui-btn ui-icon-power ui-btn-icon-left" data-role="button" id="logout-btn" href="#login-page">Logout</a>

  </div>

</section>
