<section class="ui-alt-icon" data-role="page" id="register-page">
  <div data-role="content">
    <h1>Register</h1>

    <p>
    If you already have an account, please <a href="#login-page">login</a>.
    </p>

    <form id="register-form">
      <label for="register-email">Email address: </label>
      <input id="register-email" type="email" name="email" placeholder="email..."/>
      <label for="register-username">Username: </label>
      <input id="register-username" type="text" name="username" placeholder="username..."/>
      <label for="register-password">Password: </label>
      <input id="register-password" type="password" name="password" placeholder="password..."/>
      <input type="submit" value="Register!"/>
    </form>

  </div>
</section>
