<section class="ui-alt-icon" data-role="page" id="register-page">
  <h1>Register</h1>

  <p>
    If you don't have an account, please <a href="#login-page">login</a>.
  </p>

  <div data-role="content">
    <form id="register-form">
      <input type="text" name="email" placeholder="Email..."/><br>
      <input type="text" name="username" placeholder="Username..."/><br>
      <input type="password" name="password" placeholder="Password..."/><br>
      <input type="submit" value="Register!"/>
    </form>

  </div>

</section>
