<script id="quiz_list_template" type="text/template" class="template">
  <% _.each( _.filter(rc.quizzes, function(q) { return !rc.search_string || q.name.toLowerCase().indexOf(rc.search_string) > -1 || _.contains(q.tags, rc.search_string);}) , function( quiz ){ %>
    <div class="quiz-entry">
      <a class="ui-icon-bars ui-btn-icon-left ui-link ui-btn ui-shadow ui-corner-all" href="#" onclick="showQuiz(<%- quiz.id %>);">
        <%- quiz.name %>
        <% var userquiz = _.find(rc.user.quizzes, function(q){return q.id == quiz.id;}) %>
        <% if (userquiz) { %>
          <span class="results-display">(
            <% if (userquiz.attempts == 0) { %> In progress - saved answers<% } else { %>
              <span>Best score:&nbsp;<%- userquiz.best_score %>/<%- userquiz.last_answers.length %></span> &bull; <span>Attempts:&nbsp;<%- userquiz.attempts %></span>
            <% } %>)
          </span>
        <% } %>
      </a>
    </div>
  <% }); %>
</script>

<script id="quiz_info_template" type="text/template" class="template">
  <h2><%- rc.quiz.name %></h2>

  <p><%= rc.quiz.description %></p>

  <p>Number of questions: <%- rc.quiz.questions.length %></p>

  <% if (rc.userquiz) { %>
    <span class="results-display">(
      <% if (rc.userquiz.attempts == 0) { %> In progress - saved answers<% } else { %>
        <span>Best score:&nbsp;<%- rc.userquiz.best_score %>/<%- rc.userquiz.last_answers.length %></span> &bull; <span>Attempts:&nbsp;<%- rc.userquiz.attempts %></span>
      <% } %>)
    </span>
  <% } %>

  <a class="ui-icon-arrow-r ui-btn-icon-right ui-link ui-btn ui-shadow ui-corner-all" href="#" onclick="takeQuiz(<%- rc.quiz.id %>);">Start!</a>
</script>

<script id="question_template" type="text/template" class="template">

  <h2>Question <%- rc.current %> of <%- rc.max %></h2>

  <p><%= rc.q.q %></p>

  <form id="quiz-option-form" name="quiz-option-form">
    <input type="radio" name="quiz-option" id="answer-0" value="0" <% if ((rc.saved_answers && rc.saved_answers[rc.current-1] == 0) || !rc.saved_answers) { %>checked<% } %> />
    <label class="radio-label" for="answer-0"> I don't know... </label>
  <% var count=1; _.each( rc.q.options, function( option ){ %>
    <input type="radio" name="quiz-option" id="answer-<%- count %>" value="<%- count %>" <% if (rc.saved_answers && rc.saved_answers[rc.current-1] == count) { %>checked<% } %> />
    <label class="radio-label" for="answer-<%- count %>"> <%= option %> </label>
  <% ++count; }); %>
  </form>


  <a class="ui-btn ui-icon-arrow-r ui-btn-icon-right ui-link ui-btn ui-shadow ui-corner-all" href="#" onclick="submitAnswer(true);"><% if (rc.current < rc.max) { %>Next Question<% } else { %>Submit Answers<% } %></a>
  <% if (rc.current > 1) { %>
    <a class="ui-btn ui-icon-arrow-l ui-btn-icon-left ui-link ui-btn ui-shadow ui-corner-all" href="#" onclick="submitAnswer(false);">Previous Question</a>
  <% } %>
</script>

<script id="results_template" type="text/template" class="template">

  <h2>Results</h2>
  <% var total = rc.results.correct_answers.length; var correct = 0; %>
  <% for (var i=0; i<rc.results.correct_answers.length; ++i) { %>
    <% var ans = ''; var ansIndex = rc.results.last_answers[i]-1; if (ansIndex == -1) { ans = "I don't know..."; } else { ans = rc.quiz.questions[i].options[ansIndex]; } %>
    <% var cor_ans = rc.quiz.questions[i].options[rc.results.correct_answers[i]-1]; var cor_ansIndex = rc.results.correct_answers[i]-1%>
    <div class="result">
    <h3>Q<%- i+1 %></h3>
    <p><%= rc.quiz.questions[i].q %></p>
    <p> Correct answer: <%= cor_ans %></p>
    <p> You answered: <%= ans %></p>
    <% if (ansIndex == cor_ansIndex) { correct++; } %>
    </div>
  <% } %>
  <p>Score: <%- correct %>/<%- total %></p>

</script>

<script id="user_template" type="text/template" class="template">

  <h2><%- rc.user.username %></h2>

  <h3>My Quizzes</h3>
  <% if (rc.user.quizzes.length != 0) { %>
    <% _.each(_.sortBy(rc.user.quizzes, function(q){return q.timestamp;}), function ( quiz ) { %>
      <div class="profile-quiz-entry">
        <a class="ui-icon-bars ui-btn-icon-left ui-link ui-btn ui-shadow ui-corner-all" href="#" onclick="showQuiz(<%- quiz.id %>);">
          <%- _.find(rc.quizzes, function(q){return q.id == quiz.id;}).name %>
          <span class="results-display">(
            <% if (quiz.attempts == 0) { %> In progress - saved answers <% } else { %>
           <span>Best score:&nbsp;<%- quiz.best_score %>/<%- quiz.last_answers.length %></span> &bull; <span>Attempts:&nbsp;<%- quiz.attempts %></span>
           <% } %>)
         </span>
        </a>
      </div>
  <% }); } else { %>
    <p>
      You haven't taken any quizzes yet!
    </p>
  <% } %>



</script>
