<section data-role="page" id="welcome-page">

  <div class="ui-alt-icon" data-role="content">
    <h1>
      Welcome to The Quiz!
    </h1>

    <p>
      Test your knowledge, track your scores, and learn by taking a range of quizzes on various topics.
    </p>

    <p>
      An account is required to access the quizzes (also facilitates tracking progress and saving answers).
    </p>
    <p>
      Please login or register.
    </p>

    <a data-role="button" href="#register-page">Register</a>
    <a data-role="button" href="#login-page">Login</a>
    <a data-role="button" href="#about-dialog">About</a>
  </div>

</section>
