
.block {
  display: block;
}

#quiz-option-form input[type="radio"] {
    display: none;
}

#quiz-option-form label {
    display: block;
    background-color: #ffcc33;
    padding: 0.5rem 1rem;
    color: #000000;
}

#quiz-option-form input[type="radio"]:checked + label {
    background-color: #f7931e;
    box-shadow: inset 0px 0px 6px 0px #000000;
}

a.hide-link,a.hide-link:hover,a.hide-link:visited {
  color: inherit;
}

#title {
  color: #000000;
  font-weight: bold;
  font-size: 1.2rem;
}

// override some jquery mobile css
.ui-dialog {
  background-color: #ffcc33 !important;
}
