
.block {
  display: block;
}

input[type="radio"] {
    display: none; 
}

label {
    display: inline-block;
    background-color: #E0E0E0;
    padding: 0.5rem 1rem;
}

input[type="radio"]:checked + label { 
    background-color: #A0A0A0;
    box-shadow: inset 0px 0px 6px 0px #000000;
}
